body{
	margin:0;
	font-family: 'Oswald', sans-serif;
}
footer{
	padding: 10px 0;
	position: fixed;
   	bottom: 0;
   	width: 100%;
   	height: 16px;
   	text-align: center;
   	color: #919191;
   	background-color: #230935;
}
span{
	color: white;
	display: block;
    width: 36px;
    height: 3px;
    margin-bottom: 10px;
}
li{
	margin-top: 3.65pt;
    margin-right: 0cm;
    margin-bottom: 0cm;
    margin-left: 13.15pt;
    text-indent: -8.2pt;
    width: 76%;
}
.size{
	width: 825px;
	height: 634px;
}
.inline{display:inline-block;}
.position{position: absolute;}
.side-bar{
	position: fixed;
    width: 80px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #1b0728;
}
.background{background: linear-gradient(to right, rgba(35,9,53,0.9) 15%, rgba(249,109,11,0.8) );}
.text{
	color: white;
	font-size: 40px;
	padding: 48px;
}
.label{opacity:0.5 ;}
.title{
	margin-top: 65px;
	font-weight: 400;
	color: #f96d0b;
	font-size: 25px;
	margin-bottom: 40px;

}
.title2{
	margin-top: 65px;
	font-weight: 400;
	font-size: 25px;
	color: #230935;
}
.margin-left{margin-left: 140px;}
.text2{color:#6ec1e4;}
.margin-top-spacer{margin-top: 100px;}
.margin-top{margin-top: 190px;}
.part1{height: 92%;}
.part2{
	padding: 9px;
	background: #270a3a;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #230935;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-left: 70px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.click{cursor:pointer;}
.head1{color: #6ec1e4;}
.margin-all{margin:5px;}
.margin-left-bit{margin-left: 60px;}
.margin-top-bit{margin-top: 10px;}
.block-text{
	height: 700px;
	background-color: #1d082d;
	color: white;
}
.block-text2{
	height: 700px;
	background-color: #230935;
	color: white;
}
.block-text3{
	height: 600px;
	background-color: #1d082d;
	color: white;
}
.part3{
	margin-top: 80px;
	font-size: 45px;
}
.part4{
	margin-left: 150px;
	vertical-align: top;
    margin-top: 100px;
}
.spacer{width: 8%;}
.heading1{color:white;}
.heading2{
	color:#7a7a7a;
	padding: 10px
}
.margin-bottom60{margin-bottom: 60px;}
.center{text-align: center;}
.margin-top-spacer{margin-top: 36px;}
.margin-top-spacer60{margin-top: 60px;}
.text-size{font-size: 18px;}	
.center-text{vertical-align: top;margin-top: 28px;}
.margin-top10{margin-top: 10px;}
.font-size-small{font-size: 18px;}
.icon{max-width: 100%;max-height: 100%;}
.container{height: 730px;}
#mobilefix6{display: none;}


@media screen and (max-width: 390px) {
	#mobilefix1{margin-left: 80px;display:block;}
	#mobilefix2{width: 310px;}
	#mobilefix3{margin-left: 80px;margin-top: -4px;}
	.size{width: 310px; height: 150px;}
	.text{padding: 0px;font-size: 24px;}
	.margin-top{margin-top: 28px;margin-left: 23px;}
	.container{height: 460px;}
	.margin-left{margin-left: 100px;}
	.title{margin-top: 26px;margin-bottom: 0px;}
	#mobilefix4{text-align: start;}
	.margin-bottom60{margin-bottom: 25px;}
	.spacer{width: 25%;}
	.part3{margin-top: 40px;font-size: 30px;}
	.part4{margin-left: 100px;margin-top: 20px;}
	.block-text3{height: 470px;width: 390px;}
	#mobilefix6{display:inline-block;}
	#mobilefix5{display: none;}
	footer{margin-left: 35px;}
	.title2{margin-top: 0px;font-size: 18px;}
	#mobilefix7{width: 274px;margin-left: 5px;}
	.margin-left-bit{margin-left: 0px;}
	.block-text{height: 1146px;}
	#mobilefix8{width: 22%;}
	.part4 {margin-left: 92px;margin-top: 13px;}
	.block-text2{height: 647px;}
}
