body{
	margin:0;
	font-family: 'Oswald', sans-serif;
}
footer{
	padding: 10px 0;
	position: fixed;
   	bottom: 0;
   	width: 100%;
   	height: 16px;
   	text-align: center;
   	color: #919191;
   	background-color: #230935;
}
span{
	color: white;
	display: block;
    width: 36px;
    height: 3px;
    margin-bottom: 10px;
}
li{
	margin-top: 3.65pt;
    margin-right: 0cm;
    margin-bottom: 0cm;
    margin-left: 13.15pt;
    text-indent: -8.2pt;
    width: 76%;
}
.size{
	width: 1090px;
	height: 634px;
}
.inline{display:inline-block;}
.position{position: absolute;}
.side-bar{
	position: fixed;
    width: 80px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #1b0728;
}
.background{background: linear-gradient(to right, rgba(35,9,53,0.9) 15%, rgba(249,109,11,0.8) );}
.text{
	color: white;
	font-size: 40px;
	padding: 48px;
}
.label{opacity:0.5 ;}
.title{
	margin-top: 65px;
	font-weight: 400;
	color: #f96d0b;
	font-size: 25px;
	margin-bottom: 40px;

}
.title2{
	margin-top: 65px;
	font-weight: 400;
	font-size: 25px;
	color: #230935;
}
.margin-left{margin-left: 140px;}
.text2{color:#6ec1e4;}
.margin-top-spacer{margin-top: 100px;}
.margin-top{margin-top: 190px;}
.part1{height: 92%;}
.part2{
	padding: 9px;
	background: #270a3a;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #230935;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-left: 70px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.click{cursor:pointer;}
.head1{color: #6ec1e4;}
.margin-all{margin:5px;}
.margin-left-bit{margin-left: 60px;}
.margin-top-bit{margin-top: 10px;}
.block-text{
	height: 700px;
	background-color: #1d082d;
	color: white;
}
.block-text2{
	height: 700px;
	background-color: #230935;
	color: white;
}
.block-text3{
	height: 600px;
	background-color: #1d082d;
	color: white;
}
.part3{
	margin-top: 80px;
	font-size: 45px;
}
.part4{
	margin-left: 150px;
	vertical-align: top;
    margin-top: 100px;
}
.spacer{width: 8%;}
.heading1{color:white;}
.heading2{
	color:#7a7a7a;
	padding: 10px
}
.margin-bottom60{margin-bottom: 60px;}
.center{text-align: center;}
.margin-top-spacer{margin-top: 36px;}
.margin-top-spacer60{margin-top: 60px;}
.text-size{font-size: 18px;}
.center-text{vertical-align: top;margin-top: 28px;}
.margin-top10{margin-top: 10px;}
.font-size-small{font-size: 18px;}
.icon{max-width: 100%;max-height: 100%;}


@media only screen and (min-width:1080px) {
 .size{
 	width: 1100px;
 }
}
@media only screen and (min-width: 390px) {
	.block-text3 {width: 160%;}
	.spacer{width: 15%}
	.title{font-size: 55px;}
	.text{font-size: 60px;}
	.center{text-align: unset;}
	.margin-left{margin-left: 0px;}
	.text-size{font-size: 19px;}
	#mobilefix1{
		text-align: center;
    	width: 100%;
    	margin-left: 38%;
	}
	#mobilefix2{
		width: 100%;
  	  	margin-left: 39%;
    	text-align: center;
	}
	.part3{font-size: 60px;}
	.part4{margin-left: 60px;margin-top:90px;}
	#sizeit{width: 160%;}
	.heading1{font-size: 36px;margin-left: 44px;}
	.center-text {margin-top: 38px;}
	.side-bar{width: 125px;}
	#mobilefix3{margin-left: 123px;}
	.size{width: 621px;}
	footer{height: 60px;font-size: 30px;}
	#mobilefix4{margin-left: 180px;}
	.head1{font-size: 55px;}
	.font-size-small {font-size: 45px;}
	.margin-left-bit{margin-left: 0px;}
	.block-text{
		height: 1573px;
		width: 1448px;
	}
	.block-text2{
		height: 1513px;
		width: 1448px;
	}
	#mobilefix5{
		margin-left: 185px;
		margin-top: 60px;
	}
	#mobilefix6{font-size: 40px; margin-left: 0px;}
	.heading2{font-size: 37px; margin-left: 18px;margin-top: 10px;}
	#mobilefix7{margin-left: 203px;}
	#mobilefix8{margin-left: 0px;}
	#mobilefix9{margin-top: -25px;}


}